body {
    background-color: #00539B;
    height: 100vh;
    display: flex;
    flex-direction: column;


}

h1 {
    color: white;
    filter: drop-shadow(2px 2px 3px #f47d30);
}

a.btn {
    background-color: white;
    color: #f47d30;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    filter: drop-shadow(2px 2px 3px #f47d30);
}