body {
    background-color: #00539B;
    height: 100vh;
    display: flex;
    flex-direction: column;


}

h1 {
    color: white;
    filter: drop-shadow(2px 2px 3px #f47d30);
}

a.btn {
    background-color: white;
    color: #f47d30;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    filter: drop-shadow(2px 2px 3px #f47d30);
}
.card {
    border-radius: 25px;
    padding: 5px;
    margin: 20px;
}
.card-title {
    color: #f47d30;
    font-weight: bold;
    padding: 5px;
}

.card-text {
    color: #f47d30;
    font-weight: bold;
    padding: 10px;
}

.card img {
    width: 60%;
    height: auto;
    border-radius: 25px;
}

.card-body-goalie {
    background-color: #00539B;
    border-radius: 25px;
    border-color: #f47d30;
    padding: 5px;
    margin: 10px;
    filter: drop-shadow(6px 6px 6px #f47d30);
}

.card-body-defense {
    background-color: #f47d30;
    border-radius: 25px;
    border-color: #00539B;
    padding: 5px;
    margin: 10px;
    color: #00539B;
}
.card-text-defense {
    color: #00539B;
    font-weight: bold;
    padding: 10px;
}

.card-title-defense {
    color: #00539B;
    font-weight: bold;
    padding: 10px;
}

button.btn {
    background-color: #16324F;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}
button.btn:hover {
background-color: #333333;
color: white;
}